.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    transition: all 0.1s;
    &:active {
        transform: scale(0.95);
    }
    .bubble {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #000;
        margin: 5px;
        cursor: pointer;
        &.highlighted {
            border: 5px solid var(--accent-color);
            margin: 0px;
        }
    }
    p {
        margin: 2px;
        font-weight: bold;
    }
}
