<div class="main-content">
    <div class="header">
        <img src="assets/stats-circle.png">
        <p>Instasights</p>
    </div>
    <div class="section" *ngFor="let topic of topics; let j = index">
        <span class="title">{{ topic | uppercase }}</span>
        <hr class="solid">
        <div class="story-previews">
            <div class="story-preview" *ngFor="let item of getTopicStory(topic); let i = index" [routerLink]="'stories/' + topic + '/' + item.uuid" [style.background-color]="getIndicatorColor(item.impact)">
                <p>{{ toOneString(item.ui_text) }}</p>
            </div>
        </div>
    </div>
</div>
