.main-content {
    max-width: 100%;
    height: 100vh;
    aspect-ratio: 9/16;
    background-color: #fff;
}

hr.solid {
  border-top: 1px solid #bbb;
}

.chron-feed {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    padding: 10px;
    max-width: 100%;
}

.departments {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.department-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 95%;
}
