.main-content {
    max-width: 100%;
    height: 100vh;
    aspect-ratio: 9/16;
    background-color: #fff;
}

hr.solid {
  border-top: 1px solid #bbb;
}

.chron-feed {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    padding: 10px;
    max-width: 100%;
    height: 125px;
}

.departments {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: calc(100% - 125px - 1px);
  .tile {
      height: 180px;
      width: 140px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.5);
  }
}

.department-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
