.main-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    .briefing {
        background: var(--accent-gradient);
        max-width: calc(100% - 20px);
        padding: 10px;
        margin: 0px 10px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: all 0.1s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        ion-icon {
            color: #fff;
            font-size: 28px;
        }
        &:active {
            transform: scale(0.95);
        }
        p {
            color: #fff;
            font-weight: bold;
            margin: 10px;
        }
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        img {
            height: 46px;
        }
        p {
            font-size: 32px;
            font-weight: bolder;
            margin: 0px;
            margin-left: 10px;
            padding: 0px;
        }
    }
    .section {
        padding: 10px;
        .story-previews {
            display: flex;
            flex-direction: row;
            gap: 10px;
            overflow-x: auto;
            .story-preview {
                height: 250px;
                aspect-ratio: 9/16;
                background-color: red;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.1s;
                background-size: cover;
                background-position: center center;
                
                &:active {
                    transform: scale(0.95);
                }
                p {
                    color: #fff;
                    font-weight: bold;
                    margin: 10px;
                    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.86);
                }
                .background {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    flex-direction: column;
                    border-radius: 5px;
                }
            }
        }
    }
}

.title {
    font-size: 18pt;
    font-weight: bold;
}

hr.solid {
    border-top: 1px solid #bbb;
}
