<div class="story-viewer">
    <div class="overlay">
        <div class="header">
          <div class="timeline">
            <div class="timeline-item" *ngFor="let item of story; let i = index"
                [style.width]="'calc(' + (100/story.length).toString() + '% - 5px)'">
                <div class="timeline-item active" *ngIf="i < activeStoryItem"></div>
                <div class="timeline-item active growing" *ngIf="!isLoading && i === activeStoryItem"
                    [style.animation-duration]="item.duration.toString() + 's'"></div>
            </div>
          </div>
          <ion-icon name="close" [routerLink]="''"></ion-icon>
        </div>
        <app-story-poll *ngIf="story && story[activeStoryItem].poll" [storyItemId]="story[activeStoryItem].uuid"></app-story-poll>
    </div>
    <div class="content" [style.background]="funkyColors[activeStoryItem % funkyColors.length]">
        <div class="background" [style.background-image]="'url(' + unsplash.getImageUrl([story[activeStoryItem].topic]) + ')'"></div>
        <div class="foreground">
            <div *ngIf="isLoading">
                <ion-spinner name="crescent"></ion-spinner>
            </div>
            <div [hidden]="isLoading">
                <img [hidden]="true" #image alt="loading">
                <span *ngFor="let textEle of story[activeStoryItem].ui_text; let i = index">
                    <div [hidden]="i > activeText">
                        <h1 *ngIf="textEle.relevance > 0"
                            [style.color]="funkyColors[(activeStoryItem + 1) % funkyColors.length]" [style.animation-duration]="getTimeInterval()">{{ textEle.text }}</h1>
                        <p *ngIf="textEle.relevance === 0" [style.animation-duration]="getTimeInterval()">{{ textEle.text }}</p>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
