<div class="story-viewer">
    <div class="overlay">
        <div class="timeline">
            <div class="timeline-item" *ngFor="let item of story; let i = index" [style.width]="'calc(' + (100/story.length).toString() + '% - 5px)'">
                <div class="timeline-item active" *ngIf="i <= activeStoryItem"></div>
            </div>
        </div>
        <i class="icon ion-md-close" [routerLink]="''"></i>
    </div>
    <div class="content" [style.background]="funkyColors[getRandomInt(funkyColors.length - 1)]">
        <h1>{{ story[activeStoryItem].ui_text }}</h1>
    </div>
</div>