<div class="story-viewer">
    <div class="overlay">
        <div class="timeline">
            <div class="timeline-item" *ngFor="let item of story; let i = index" [style.width]="'calc(' + (100/story.length).toString() + '% - 5px)'">
                <div class="timeline-item active" *ngIf="i <= activeStoryItem"></div>
            </div>
        </div>
        <i class="icon ion-md-close" [routerLink]="''"></i>
    </div>
    <div class="content" [style.background]="funkyColors[activeStoryItem % funkyColors.length]">
        <div *ngIf="isLoading">
            <ion-spinner name="crescent"></ion-spinner>
        </div>
        <div [hidden]="isLoading">
            <img #image alt="loading">
            <span *ngFor="let textEle of story[activeStoryItem].ui_text">
                <h1 [style.color]="funkyColors[(activeStoryItem + 1) % funkyColors.length]">{{ textEle.text }}</h1>
            </span>
        </div>
    </div>
</div>