.story-viewer {
    height: 100vh;
    aspect-ratio: 9/16;
    background-color: #000;
    animation: grow 0.1s;
    .timeline {
        height: 5px;
        width: calc(100% - 20px);
        margin: 0px 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .timeline-item {
            border-radius: 5px;
            height: 100%;
            width: 50px;
            background-color: rgba(255, 255, 255, 0.25);
            &.active {
                background-color: #fff;
                width: 100%;
            }
        }
    }
    i {
        color: #fff;
        font-size: 42px;
        cursor: pointer;
        float: right;
        margin-right: 10px;
    }
    .content, .overlay {
        height: 100vh;
        aspect-ratio: 9/16;
        position: absolute;
        top: 0px;
        overflow: hidden;
    }

    .content {
        background-color: #fff;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            font-size: 56pt;
            color: #fff;
            /*text-shadow: #000 0px 0px 10px;*/
        }
        h2 {
            font-size: 36pt;
            color: #fff;
            text-shadow: #000 0px 0px 10px;
        }
        img {
            width: calc(100% - 20px);
            border-radius: 10px;
        }
        ion-spinner {
            color: #fff;
            width: 80px;
            height: 80px;
        }
    }

    .overlay {
        z-index: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
    }
}
