@keyframes growHorizontally {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.summary {
  background-color: #fff;
  font-size: 16pt;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  animation: swipeUp .5s;
  ion-icon {
    color: #333 !important;
    float: right;
  }
}

@keyframes swipeUp {
  from {
    bottom: -100%;
  } to {
    bottom: 0;
  }
}

.story-viewer {
  height: 100vh;
  aspect-ratio: 9/16;
  background-color: #000;
  animation: grow 0.1s;
  .timeline {
    height: 5px;
    width: calc(100% - 20px);
    margin: 0px 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .timeline-item {
      border-radius: 5px;
      height: 100%;
      width: 50px;
      background-color: rgba(255, 255, 255, 0.25);
      &.active {
        background-color: #fff;
        width: 100%;
        &.growing {
          animation-name: growHorizontally;
          animation-duration: 0.5s;
          animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
      }
    }
  }
  ion-icon {
    color: #fff;
    font-size: 42px;
    cursor: pointer;
    float: right;
    margin: 10px;
  }

  ion-icon[name=arrow-up] {
    position: absolute;
    bottom: 10px;
  }
  .content,
  .background,
  .foreground,
  .overlay {
    height: 100%;
    width: calc(100vh * 9 / 16);
    max-width: 100%;
    position: absolute;
    top: 0px;
    overflow: hidden;
  }

  .overlay {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      width: 100%;
    }

    app-story-poll {
      position: absolute;
      bottom: 10px;
      z-index: 100;
    }
  }

  .foreground {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .background {
    background-size: cover;
    background-position: center center;
    opacity: 0.25;
  }

  .content {
    background-color: #fff;
    z-index: 0;
    text-align: center;
    h1 {
      font-size: 68pt;
      color: #fff;
      /*text-shadow: #000 0px 0px 10px;*/
      margin: 0px;
      opacity: 0;
      &.appeared {
        opacity: 1;
        animation-name: popText;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
      }
    }
    p {
      font-size: 36pt;
      color: #fff;
      // text-shadow: #000 0px 0px 10px;
      margin: 0px;
      opacity: 0;
      &.appeared {
        opacity: 1;
        animation-name: fadeIn;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
      }
    }
    img {
      width: calc(100% - 20px);
      border-radius: 10px;
    }
    ion-spinner {
      color: #fff;
      width: 80px;
      height: 80px;
    }
  }
}

@keyframes popText {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
