.poll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  .question {
    text-align: center;
    color: white;
    font-size: large;
    margin-bottom: 5px;
  }
}

.answers {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

.answer {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  transition: width 0.5s;
}

.a {
  color: green;
  border-right: 1px solid grey;
}
.b {
  color: red;
  border-left: 1px solid grey;
}

